.bands-showcase {
  margin: 0 auto 50px;
  overflow: hidden;
}

.bands-showcase__item {
  height: 204px;
  margin: 0 auto 30px;
  overflow: hidden;
  position: relative;
  width: 320px;
}

.bands-showcase__link {
  display: block;
}

.bands-showcase__name {
  bottom: 2px;
  color: #fff;
  font-size: 20px;
  height: 50px;
  left: 2px;
  line-height: 50px;
  margin: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 320px;
}

.bands-showcase__name-bg {
  bottom: -50px;
  background: $hsr-red;
  height: 50px;
  left: 2px;
  @include hsr-transition(.3s all);
  position: absolute;
  width: 316px;

  .bands-showcase__item:hover & {
    bottom: 2px;
  }
}

.bands-showcase__logo {
  background: rgba(0, 0, 0, .7);
  height: 150px;
  left: 2px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 2px;
  @include hsr-transition(.3s all);
  width: 316px;

  img {
    position: relative;
    top: 50%;
    @include hsr-transform(translateY(-50%));
    width: 150px;
  }

  .bands-showcase__item:hover & {
    opacity: 1;
  }
}

.bands-showcase__member-pic {
  border: 2px solid transparent;
  @include hsr-transition(.3s all);
  width: 316px;

  .bands-showcase__item:hover & {
    border: 2px solid $hsr-red;
  }
}

.band {
  margin: 0 auto 50px;
  overflow: hidden;
}

.band__back-link,
.band__back-link:visited {
  color: $hsr-red;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}

.band__logo {
  margin-top: 20px;
  text-align: center;

  img {
    width: 150px;
  }
}

h1.band__title {
  margin-top: 30px;
  text-transform: none;
}

.band__description {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 20px;
  overflow: hidden;
}

.band__description__first-col,
.band__description__second-col {
  padding: 0 10px;
}

.band__photo {
  margin-bottom: 20px;

  img {
    width: 100%;
  }
}

.band-info {

}

.band-info__title {
  background: $hsr-black;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 8px 13px;
  text-transform: uppercase;
}

.band-info__item {
  margin-bottom: 20px;
}

.band-albums {
  overflow: hidden;
}

.band-albums__item {
  box-sizing: border-box;
  display: block;
  float: left;
  margin-bottom: 10px;
  padding: 0 5px;
  @include hsr-transition(.2s all);
  width: 100%;

  &:nth-child(2n+2) {
    float: right;
  }

  &:hover {
    opacity: .5;
  }
}

.band-albums__link {
  text-decoration: none;
}

.band-albums__cover {
  float: left;
  margin-right: 10px;
}

.band-albums__title,
.band-albums__spec {
  color: $hsr-red;
  margin: 0;
  text-decoration: none;
}

.band-albums__title {
  font-weight: 700;
}

.band-social {
  color: $hsr-red;

  a,
  a:visited {
    color: $hsr-red;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 480px) {
  // Mobile landscape + Tablet portrait
}

@media only screen and (min-width: 1020px) {
  // Tablet landscape + Desktop

  .bands-showcase {
    width: 980px;
  }

  .bands-showcase__item {
    float: left;
    height: 304px;
    margin: 0;
    width: 478px;

    &:nth-child(2n+2) {
      float: right;
    }
  }

  .bands-showcase__name {
    width: 474px;
  }

  .bands-showcase__name-bg {
    width: 474px;
  }

  .bands-showcase__logo {
    height: 250px;
    width: 474px;

    img {
      width: auto;
    }
  }

  .bands-showcase__member-pic {
    width: 474px;
  }

  .band {
    width: 980px;
  }

  .band__logo {
    margin: 0;

    img {
      width: auto;
    }
  }

  h1.band__title {
    text-align: left;
  }

  .band__description {
    height: 250px;

    .band--atc & {
      height: 400px;
    }
  }

  .band__description__first-col,
  .band__description__second-col {
    padding: 0;
  }

  .band__description__first-col {
    float: left;
    width: 474px;
  }

  .band__description__second-col {
    float: right;
    width: 474px;
  }

  .band__photo {
    float: left;
    margin-bottom: 0;
    width: 474px;
  }

  .band-info {
    float: right;
    width: 474px;
  }

  .band-albums__item {
    margin-bottom: 0;
    padding: 0;
    width: 215px;
  }
}
