.shopping-cart-table {
  margin: 0 auto 30px;
  width: 980px;

  th {
    background: #eee;
    color: #979797;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
  }

  tbody tr td {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    text-align: center;

    &.shopping-cart-table__product {
      padding-left: 25px;
      text-align: left;

      dt { font-weight: 700;  }
      dd { margin-left: 20px; }
    }
  }

  tfoot td {
    padding-top: 20px;
  }

  button {
    @extend %hsr-button;

    &.shopping-cart-table__update,
    &.shopping-cart-table__empty {
      float: right;
      margin-right: 0;
      margin-left: 20px;
    }

    &.shopping-cart-table__update {
      border-color: $hsr-red;
      color: $hsr-red;

      &:hover {
        background: $hsr-red;
        color: #fff;
      }
    }
  }

  a,
  a:visited {
    color: #111;
    text-decoration: none;
  }
}

.totals {
  float: left;
  font-size: 18px;
  line-height: 30px;

  td {
    padding-right: 20px;
  }
}

.cart-empty {
  font-size: 14px;
  height: 200px;
  line-height: 1.5em;
  margin: 0 auto 50px;
  text-align: center;
  width: 980px;
}

.checkout-types {
  float: right;
  margin-top: 13px;

  li:last-child,
  .paypal-or {
    display: none;
  }
}

.cart-finals {
  margin: 0 auto 50px;
  overflow: hidden;
  width: 980px;
}
