.shopping-cart-table {
  margin: 0 auto 30px;
  width: 100%;

  th {
    background: #eee;
    color: #979797;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
  }

  /* BEGIN: Hide product name and base price on mobile */
  th, td {
    &:nth-child(2) {
      display: none;
    }
  }

  th, td {
    &:nth-child(3) {
      display: none;
    }
  }
  /* END: Hide product name and base price on mobile */

  tbody tr td {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    text-align: center;

    &.shopping-cart-table__product {
      padding-left: 25px;
      text-align: left;

      dt { font-weight: 700;  }
      dd { margin-left: 20px; }
    }
  }

  tfoot td {
    padding-top: 20px;
  }

  button {
    @extend %hsr-button;

    &.btn-continue {
      display: block;
      margin-left: 20px;
      margin-bottom: 10px;
    }

    &.shopping-cart-table__update,
    &.shopping-cart-table__empty {
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
      margin-left: 20px;
    }

    &.shopping-cart-table__update {
      border-color: $hsr-red;
      color: $hsr-red;

      &:hover {
        background: $hsr-red;
        color: #fff;
      }
    }
  }

  a,
  a:visited {
    color: #111;
    text-decoration: none;
  }
}

.totals {
  font-size: 18px;
  line-height: 30px;

  td {
    padding-right: 20px;
  }
}

.cart-empty {
  font-size: 14px;
  height: 200px;
  line-height: 1.5em;
  margin: 0 auto 50px;
  text-align: center;
  width: 980px;
}

.checkout-types {
  margin-top: 13px;

  li:last-child,
  .paypal-or {
    display: none;
  }
}

.cart-finals {
  margin: 0 auto 50px;
  margin-left: 20px;
  overflow: hidden;
  width: 100%;
}

// Paypal Review Order

.paypal-review-order {
  #order_review_form {
    width: 100%;
  }

  #shipping_method {
    margin: 0 auto;
  }
}

.pp-review-customer-email {
  margin: 0 auto 50px;
  width: 100%;
}

.pp-review-order-details {
  margin-bottom: 20px;
}

.pp-review-buttons-set {
  margin-left: 20px;
  text-align: left;
}

@media only screen and (min-width: 480px) {
  // Mobile landscape + Tablet portrait
}

@media only screen and (min-width: 1020px) {
  // Tablet landscape + Desktop

  .shopping-cart-table {
    width: 980px;

    /* BEGIN: Show product name and base price on desktop */
    th, td {
      &:nth-child(2) {
        display: table-cell;
      }
    }

    th, td {
      &:nth-child(3) {
        display: table-cell;
      }
    }
    /* END: Show product name and base price on desktop */

    button {
      &.btn-continue {
        display: inline;
        margin-left: 0;
        margin-bottom: 0;
      }

      &.shopping-cart-table__update,
      &.shopping-cart-table__empty {
        display: inline;
        float: right;
        margin-bottom: 0;
      }
    }
  }

  .cart-finals {
    margin-left: auto;
    width: 980px;
  }

  .totals {
    float: left;
  }

  .checkout-types {
    float: right;
  }

  // Paypal Review Order

  .paypal-review-order {
    #order_review_form {
      width: 980px;
    }
  }

  .pp-review-customer-email {
    width: 498px;
  }

  .pp-review-billing-address {
    float: left;
    width: 460px;
  }

  .pp-review-shipping-address {
    float: right;
    width: 460px;
  }

  .pp-review-shipping-method {
    float: left;
    width: 460px;
  }

  .pp-review-order-details {
    float: left;
    margin-bottom: 0;
    width: 980px;
  }

  .pp-review-buttons-set {
    float: right;
    margin-left: 0;
    width: 400px;
  }
}

