$heading-color: #343434;

$hsr-red: #ff3000;
$hsr-black: #111;

$hsr-dark-red: #800800;
$hsr-dark-grey: #343434;

@mixin hsr-transition($value) {
  -webkit-transition: $value;
     -moz-transition: $value;
       -o-transition: $value;
          transition: $value;
}

@mixin hsr-transform($value) {
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}

@mixin hsr-column($count, $gap) {
  -moz-column-count: $count;
  -moz-column-gap: $gap;
  -webkit-column-count: $count;
  -webkit-column-gap: $gap;
}

%heading-one {
  color: $heading-color;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;

  strong {
    font-weight: 400;
  }
}

%hsr-button {
  background: #fff;
  border: 1px solid #111;
  color: #111;
  font-family: 'Lato', sans-serif;
  margin-right: 20px;
  padding: 7px 15px;
  @include hsr-transition(.2s all);

  &:hover {
    background: #111;
    color: #fff;
  }
}
