.site-content {
  background: #fff;
  margin: -50px auto 0;
  overflow: hidden;
  width: 100%;

  .page-home & {
    background: transparent url('img/carousel-1.jpg') no-repeat center;
    background-size: cover;
    height: 700px;
    margin-top: -180px;
  }

  .page-about & {
    background-color: #ececec;
  }
}

.content {
  margin: 0 auto;
  overflow: hidden;
  padding-top: 80px;
  width: 1020px;

  h1 {
    @extend %heading-one;
    text-align: center;
  }
}

.carousel {
  text-align: center;
}

// Messages

.messages {
  margin: 0 auto 20px;
  width: 90%;

  li {
    background: #FFFDC8;
    padding: 7px 15px;
  }
}

// About Page

.about-whatever {
  border: 10px solid #fff;
  margin-bottom: 60px;
  padding: 50px 265px 50px 120px;
  position: relative;

  h1 {
    @extend %heading-one;
    text-align: left;
  }

  p {
    color: #666;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }

  blockquote {
    bottom: 71px;
    color: $heading-color;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    position: absolute;
    right: 15px;
    text-align: right;
    text-transform: uppercase;
  }
}

// Contacts Page

#contactForm {
  // hardcoded
  display: block;
  margin: 0 auto 50px;
  text-align: center;
  width: 498px;

  .legend {
    background: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #797979;
    margin-bottom: 30px;
    padding: 18px 50px;
    text-align: center;
    text-transform: uppercase;
  }

  .fieldset {
    background: #f6f6f6;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 40px;
  }

  .buttons-set button {
    background: #ff3000;
    border: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 13px 75px;
    text-transform: uppercase;
  }

  label {
    display: block;
    font-size: 14px;
    margin: 0 50px;
    text-align: left;
  }

  input[type="text"],
  textarea {
    background: #fff;
    border: 1px solid #eee;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 5px 50px 15px;
    padding: 7px;
    width: 380px;
  }
}

// Store Page

@import "store";

// Vinyl Details Page

@import "vinyl";

// Shopping Cart

@import "cart";

@media only screen and (min-width: 480px) {
  // Mobile landscape + Tablet portrait
}

@media only screen and (min-width: 1020px) {
  // Tablet landscape + Desktop
}
