.site-content {
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;

  .page-about & {
    background-color: #ececec;
  }
}

.content {
  margin: 0 auto;
  min-height: 300px;
  overflow: hidden;
  padding-top: 20px;

  h1 {
    @extend %heading-one;
    text-align: center;
  }
}

// Home specific styling
.page-home {
  .site-header header {
    z-index: 200;
  }

  .content {
    height: 562px;
  }

  .site-footer {
    position: relative;
    z-index: 300;
  }
}

.carousel {
  height: 700px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 100%;
  z-index: 100;

  li {
    background: transparent url('img/carousel-1.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &.carousel__1 {
      display: block;
    }

    &.carousel__2 {
      background-image: url('img/carousel-2.jpg');
    }

    &.carousel__3 {
      background-image: url('img/carousel-3.jpg');
    }
  }
}

.home-link-to-store {
  display: block;
  height: 580px;
  margin: 120px auto 0;
}

// Messages

.messages {
  margin: 0 auto 20px;
  width: 100%;

  li {
    background: #FFFDC8;
    padding: 7px 15px;
  }
}

// About Page

.about-whatever {
  border: 10px solid #fff;
  margin-bottom: 60px;
  padding: 10px 15px;
  position: relative;

  h1 {
    @extend %heading-one;
    text-align: left;
  }

  p {
    color: #666;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }

  blockquote {
    bottom: 71px;
    color: $heading-color;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    // position: absolute;
    right: 15px;
    text-align: right;
    text-transform: uppercase;
  }
}

// BERANTAKAN

// Contacts Page
// Order Page

#contactForm,
#order_review_form {
  // hardcoded
  display: block;
  margin: 0 auto 50px;
  text-align: center;

  .legend {
    background: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #797979;
    margin-bottom: 30px;
    padding: 18px 50px;
    text-align: center;
    text-transform: uppercase;
  }

  .fieldset,
  .info-set {
    background: #f6f6f6;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 40px;
  }

  .buttons-set button {
    background: $hsr-red;
    border: 1px solid $hsr-red;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 13px 75px;
    text-transform: uppercase;
    @include hsr-transition(.1s all);

    &:hover {
      background: #fff;
      color: $hsr-red;
    }

    &#review_button,
    &#update_order {
      font-size: 14px;
      padding: 8px 15px;
    }

    &#update_order {
      background: $hsr-black;
      border-color: $hsr-black;
      margin-bottom: 20px;

      &:hover {
        background: #fff;
        color: $hsr-black;
      }
    }
  }

  label {
    display: block;
    font-size: 14px;
    margin: 0 10px;
    text-align: left;
  }

  input[type="text"],
  textarea,
  select {
    background: #fff;
    border: 1px solid #eee;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 5px 10px 15px;
    padding: 7px;
    width: 90%;
  }

  .col-2 {
    input[type="text"],
    textarea,
    select {
      width: 342px;
    }

    select {
      background: #fff url('img/down-arrow.png') no-repeat right 10px center;
      width: 360px;
    }
  }

  .validation-advice {
    background-color: $hsr-red;
    border: 1px solid $hsr-red;
    color: #fff;
    margin: 0 auto 15px;
    padding: 7px 15px;
    position: relative;
    width: 322px;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 7px 7px;
      border-color: transparent transparent $hsr-red transparent;
      position: absolute;
      left: 170px;
      top: -7px;
    }
  }

  select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #f8f8f8;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;

    border-radius: 0;
    font-size: 14px;
    background: white;
    margin: 5px auto 15px;
    display: block;
    border: 1px solid #eee;
    padding: 7px;
  }

  input[type="checkbox"] {
    float: left;
    margin-left: 50px;
    margin-right: 15px;
    height: 20px;
  }
}

.button {
  @extend %hsr-button;
}

.edit-shopping-cart,
.edit-shopping-cart:visited {
  color: $hsr-red;
  float: left;
  font-size: 14px;
  margin: 10px 0 0 20px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#details-table {
  margin: 0 auto;
  width: 960px;

  th, td {
    padding: 10px;
  }

  th {
    width: 70%;

    .a-center {
      width: 10%;
    }
  }

  thead tr {
    border-bottom: 1px solid #999;
  }

  tbody tr {
    border-bottom: 1px solid #ddd;
  }
}

// BERANTAKAN

// Store Page

@import "store";

// Vinyl Details Page

@import "vinyl";

// Shopping Cart

@import "cart";

// Store Page

@import "bands";

@media only screen and (min-width: 480px) {
  // Mobile landscape + Tablet portrait
}

@media only screen and (min-width: 1020px) {
  // Tablet landscape + Desktop

  .site-content {
    margin: -50px auto 0;
  }

  .content {
    padding-top: 80px;
    width: 1020px;
  }

  .home-link-to-store {
    width: 1040px;
  }

  .about-whatever {
    padding: 50px 265px 50px 120px;

    blockquote {
      position: absolute;
    }
  }

  #contactForm,
  #order_review_form {
    width: 498px;

    label {
      margin: 0 50px;
    }

    input[type="text"],
    textarea,
    select {
      margin: 5px 50px 15px;
      width: 380px;
    }
  }

  // Messages

  .messages {
    width: 980px;
  }
}
